/* Styles for Mobile devices */
.assorts-section {
  background-color: var(--third-background-color);
}

.assorts-title {
  margin-bottom: 24px;
}

.assorts-item-image-thumb {
  width: 100%;
  margin-bottom: 16px;
}

.assorts-item-image {
  min-width: 100%;
  object-fit: cover;
}

.assorts-item-content {
  margin-bottom: 16px;
}

.assorts-item-header {
  display: flex;
  justify-content: space-between;
}

.assorts-item-title {
  font-size: 18px;
  font-weight: 600;
  max-width: 269px;
}

.assorts-item-price {
  font-size: 20px;
  font-weight: 600;
}

.assorts-item-text {
  display: flex;
  justify-content: space-between;
}

.assorts-item-description {
  font-size: 14px;
  max-width: 269px;
}

.assorts-item-units {
  font-size: 10px;
  line-height: 1.3;
  width: 53px;
  text-align: right;
}

.assorts-item-button {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .assorts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .assorts-title {
    max-width: calc((100% - 16px) / 2);
  }

  .assorts-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .assorts-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .assorts-title {
    max-width: 768px;
    margin-bottom: 32px;
  }

  .assorts-list {
    gap: 24px;
  }

  .assorts-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}
