/* Styles for Mobile devices */
.benefits-section {
  padding: 64px 0;

  background-color: var(--second-background-color);
}
.benefits-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefits-img {
  margin-bottom: 24px;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}
.benefits-container-title {
  margin-bottom: 32px;
}
.benefits-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--secondary-title-color);
}
.benefits-text {
  font-weight: 400;
  font-size: 18px;

  /* line-height: 27px; */
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 8px;
}
.benefits-svg {
  fill: var(--secondary-text-color);
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
.benefits-item-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;

  /* line-height: 28px; */
  line-height: 1.4;
  letter-spacing: -0.01em;

  color: var(--secondary-text-color);
}
.benefits-text-list {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #fff;
}

.benefits-img img {
  width: 343px;
  height: 487px;
  object-fit: cover;
  object-position: center;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .benefits-img img {
    width: 704px;
    height: 487px;
  }

  .benefits-list {
    gap: 16px;
  }

  .benefits-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 344px;
    min-width: 320px;
  }
  .benefits-svg {
    margin-bottom: 0;
  }
  .benefits-item-title {
    margin-bottom: 0;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .benefits-img img {
    width: 644px;
    height: 669px;
  }

  .benefits-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .benefits-container-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 644px;
  }
  .benefits-title {
    margin-bottom: 0;
  }
  .benefits-img {
    min-width: 644px;
  }
  .benefits-list {
    flex-direction: row;
    gap: 24px;
  }
  .benefits-item {
    width: 310px;
    min-width: 200px;
  }
  .benefits-title {
    font-weight: 400;
    font-size: 48px;
  }
}
