/* Styles for Mobile devices */
.footer {
    padding: 80px 0;
    background: #0A2300;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.footer-site-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.site-nav-link {
    font-weight: 400;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 11px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.copyright-text {
    width: 100%;
    padding-top: 32px;
    border-top: 1px solid #5E8A4D;
    text-align: center;
}

.copyright-text-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .footer-site-nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
     .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .site-logo-icon {
        width: 84px;
        height: 36px;
    }

    .copyright-text {
        width: 100%;
    }

    .copyright-text {
        padding-top: 80px;
    }
}
