/* Styles for Mobile devices */
.footer {
    padding: 80px 0;
    background: #0A2300;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-logo-link {
    width: 162px;
    height: 70px;
}

.site-logo {
    margin-bottom: 24px;
}

.footer-action {
    margin-bottom: 24px;
}

.footer-site-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.site-nav-link {
    font-weight: 400;
}

.footer-social-list {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.copyright-text {
    width: 100%;
    padding-top: 32px;
    border-top: 1px solid #5E8A4D;
    text-align: center;
}

.copyright-text-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .footer-site-nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social-list-svg {
        width: 24px;
        height: 24px;
    }
    
    .footer-logo-link {
        width: 162px;
        height: 70px;
    }

    .site-nav-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 24px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
     .footer-container {
        flex-direction: column;
    }

    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }

    .footer-logo-link {
        width: 84px;
        height: 36px;
        margin-bottom: 0;
    }

    .footer-action {
        margin-bottom: 0;
    }

    .footer-social-list {
        margin-bottom: 0;
    }

    .site-nav-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 24px;
    }

    .copyright-text {
        padding-top: 32px;
    }
}
