/* Styles for Mobile devices */
.hero-section {
  display: block;
  padding-top: 183px;
  padding-bottom: 183px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/hero/hero-mob-bg@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 2x) {
  .hero-section {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/hero/hero-mob-bg@2x.jpg);
  }
}

.hero-main-title {
  margin-bottom: 8px;
  color: var(--secondary-title-color);
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}

.hero-button {
  display: block;
  max-width: 343px;
  text-align: center;
  padding: 8px 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 234px;
    padding-bottom: 234px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/hero/hero-tab-bg@1x.jpg);
  }

  .hero-subtitle {
    max-width: 611px;
  }

  .button.white {
    justify-content: center;
    align-items: center;
    max-width: 254px;
    padding: 6px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-section {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/hero/hero-tab-bg@2x.jpg);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 326px;
    padding-bottom: 326px;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/hero/hero-desk-bg@1x.jpg);
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-main-title {
    max-width: 646px;
  }

  .hero-subtitle {
    max-width: 646px;
  }

  .button.white {
    text-align: center;

    max-width: 199px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2x) {
  .hero-section {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/hero/hero-desk-bg@2x.jpg);
  }
}
