/* Styles for Mobile devices */
.mission-section {
    background-color: var(--four-background-color)
}

.mission-container {
    display: flex;
    flex-direction:column;
    gap: 32px;
}

.mission-text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mission-text-title 
{
    color: var(--secondary-title-color);
}
  
.mission-subtitle {
    color: var(--secondary-text-color);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {

.mission-text-block {
    flex-direction: row;
}

.mission-text{
    align-items: start;
    width: calc((100% - 24px)/ 2);}
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {

.mission-container {
    display: flex;
    flex-direction:column;
    gap: 80px;}
}
