/* Styles for Mobile devices  */
body:has(.mobile-menu-wrapper.is-open) {
  overflow: hidden;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  pointer-events: none;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition:
    opacity var(--transition-function),
    visibility var(--transition-function);
}

.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-backdrop {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  height: 100vh;
  width: 100%;
  pointer-events: auto;
  background-color: var(--header-background-color);
}

.mobile-menu-content {
  position: relative;
  padding: 124px 16px;
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
}

.mobile-menu-site-logo {
  position: absolute;
  top: 6px;
  left: 16px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: var(--secondary-text-color);
  line-height: 0;
}

.mobile-menu-nav-list {
  margin-bottom: 12px;
}

.mobile-menu-nav-link {
  display: block;
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu-button {
  display: block;
  text-align: center;
  max-width: 343px;
  margin: 0 auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .mobile-backdrop {
    display: block;
    position: fixed;
    top: 72px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(100vh - 72px);
    pointer-events: none;
    background-color: rgba(1, 4, 0, 0.3);
    pointer-events: auto;
  }

  .mobile-menu {
    height: 100vh;
    min-width: 286px;
    max-width: calc(50% - 98px);
  }

  .mobile-menu-content {
    padding: 72px 32px 0;
    width: 286px;
  }

  .mobile-menu-nav-list {
    margin-bottom: 24px;
  }

  .mobile-menu-nav-link {
    text-align: right;
    padding: 12px 0;
  }

  .mobile-menu-site-logo {
    display: none;
  }

  .close-button {
    top: 16px;
    right: 32px;
    width: 44px;
    height: 44px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  body:has(.mobile-menu-wrapper.is-open) {
    overflow: auto;
  }

  .mobile-menu-wrapper.is-open {
    opacity: 0;
    pointer-events: auto;
    visibility: hidden;
  }
}
