<section class="benefits-section" id="benefits">
  <div class="container benefits-container">
    <div class="benefits-img">
      <img
        srcset="
          /img/benefits/benefits-1.jpg    1x,
          /img/benefits/benefits-1@2x.jpg 2x
        "
        src="/img/benefits/benefits-1.jpg"
        alt="Benefits"
      />
      <!-- object-fit:cover
       object-position:center -->
    </div>
    <div class="benefits-container-title">
      <h2 class="benefits-title">Why Choose Organic?</h2>
      <p class="benefits-text">
        Organic products offer a healthier choice for you and your family. With
        no synthetic pesticides or GMOs, you can enjoy better nutrition and
        natural flavors while supporting sustainable farming practices.
      </p>
    </div>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-svg">
          <use href="/img/sprite.svg#icon-benefits-star"></use>
        </svg>
        <h3 class="benefits-item-title">Better for Your Health</h3>
        <p class="benefits-text">
          Organic foods are grown without synthetic chemicals, making them safer
          for your body. They're rich in antioxidants and nutrients that support
          your immune system and long-term well-being.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-svg">
          <use href="/img/sprite.svg#icon-benefits-planet"></use>
        </svg>
        <h3 class="benefits-item-title">Protecting the Planet</h3>
        <p class="benefits-text">
          Organic farming reduces pollution, conserves water, and improves soil
          health. By choosing organic, you're helping build a cleaner, more
          sustainable environment for future generations.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-svg">
          <use href="/img/sprite.svg#icon-benefits-spoon-and-fork"></use>
        </svg>
        <h3 class="benefits-item-title">Fruits & Vegetables</h3>
        <p class="benefits-text">
          Freshly picked organic produce delivered straight from local farms to
          your table.
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-container-icons">
          <svg class="benefits-svg">
            <use href="/img/sprite.svg#icon-benefits-cheese"></use>
          </svg>
        </div>
        <h3 class="benefits-item-title">Dairy Products</h3>
        <p class="benefits-text">
          Creamy, organic dairy options that are both delicious and ethically
          sourced.
        </p>
      </li>
    </ul>
  </div>
</section>
