<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top">
      <div class="site-logo footer-logo">
        <a href="index.html" class="site-logo-link footer-logo-link">
          <svg class="site-logo-icon" width="162" height="70">
            <use href="/img/site-logo.svg"></use>
          </svg>
        </a>
      </div>
      <!-- <div class="footer-action"> -->
      <nav class="footer-site-nav">
        <ul class="footer-site-nav-list">
          <li class="site-nav-item footer-nav-item">
            <a href="index.html" class="link white site-nav-link footer-link"
              >Home</a
            >
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#mission" class="link white site-nav-link footer-link"
              >Mission</a
            >
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#benefits" class="link white site-nav-link footer-link"
              >Benefits</a
            >
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#assorts" class="link white site-nav-link footer-link"
              >Assortment</a
            >
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#feedbacks" class="link white site-nav-link footer-link"
              >Feedbacks</a
            >
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#faq" class="link white site-nav-link footer-link">FAQ</a>
          </li>
          <li class="site-nav-item footer-nav-item">
            <a href="#contacts" class="link white site-nav-link footer-link"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <!-- </div> -->
      <ul class="footer-social-list">
        <li>
          <a
            href="https://www.facebook.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="footer-social-list-svg" width="32" height="32">
              <use href="/img/sprite.svg#IconFacebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="footer-social-list-svg" width="32" height="32">
              <use href="/img/sprite.svg#IconInstagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg class="footer-social-list-svg" width="32" height="32">
              <use href="/img/sprite.svg#IconX"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg class="footer-social-list-svg" width="32" height="32">
              <use href="/img/sprite.svg#IconLinkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Youtube"
          >
            <svg class="footer-social-list-svg" width="32" height="32">
              <use href="/img/sprite.svg#IconYoutube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright-text">
      <p class="copyright-text-p">
        &copy; 2025 Organic Shop. All rights reserved.
      </p>
    </div>
  </div>
</footer>
