<header class="header" id="header">
  <div class="container">
    <div class="header-content">
      <div class="site-logo">
        <a href="/" class="site-logo-link">
          <svg class="site-logo-icon" width="142" height="60">
            <use href="/img/site-logo.svg#icon-site-logo"></use>
          </svg>
        </a>
      </div>
      <div class="header-action">
        <nav class="site-nav">
          <ul class="site-nav-list">
            <li class="site-nav-item">
              <a href="/" class="link white site-nav-link">Home</a>
            </li>
            <li class="site-nav-item">
              <a href="#mission" class="link white site-nav-link">Mission</a>
            </li>
            <li class="site-nav-item">
              <a href="#benefits" class="link white site-nav-link">Benefits</a>
            </li>
            <li class="site-nav-item">
              <a href="#assorts" class="link white site-nav-link">Assortment</a>
            </li>
            <li class="site-nav-item">
              <a href="#feedbacks" class="link white site-nav-link"
                >Feedbacks</a
              >
            </li>
            <li class="site-nav-item">
              <a href="#faq" class="link white site-nav-link">FAQ</a>
            </li>
            <li class="site-nav-item">
              <a href="#contacts" class="link white site-nav-link">Contacts</a>
            </li>
          </ul>
        </nav>
        <a href="#contacts" class="button header-button">Order</a>
        <button class="burger-button" type="button">
          <svg class="burger-button-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-burger-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
