<section class="mission-section" id="mission">
  <div class="container mission-container">
    <div class="mission-text-block">
      <h2 class="mission-text-title section-heading section-header">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>

      <p class="mission-subtitle section-subtitle">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <div class="mission-image-overlay">
      <img
        src="/img/mission/mission-img@1x.webp"
        srcset="
          /img/mission/mission-img@1x.webp 1x,
          /img/mission/mission-img@2x.webp 2x
        "
        alt="team of friendly people"
      />
    </div>
  </div>
</section>
