<div class="mobile-menu-wrapper" id="mobile-menu">
  <div class="mobile-backdrop"></div>
  <div class="container mobile-menu-container">
    <div class="mobile-menu">
      <div class="site-logo mobile-menu-site-logo">
        <a href="index.html" class="site-logo-link">
          <svg class="site-logo-icon" width="142" height="60">
            <use href="/img/site-logo.svg"></use>
          </svg>
        </a>
      </div>
      <button class="close-button" type="button" id="close-button">
        <svg class="burger-button-icon" width="32" height="32">
          <use
            id="mobile-menu-close-icon"
            href="/img/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a
              href="index.html"
              class="link white mobile-menu-nav-link mobile-link"
              >Home</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a
              href="#mission"
              class="link white mobile-menu-nav-link mobile-link"
              >Mission</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a
              href="#benefits"
              class="link white mobile-menu-nav-link mobile-link"
              >Benefits</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a
              href="#assorts"
              class="link white mobile-menu-nav-link mobile-link"
              >Assortment</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a
              href="#feedbacks"
              class="link white mobile-menu-nav-link mobile-link"
              >Feedbacks</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#faq" class="link white mobile-menu-nav-link mobile-link"
              >FAQ</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a
              href="#contacts"
              class="link white mobile-menu-nav-link mobile-link"
              >Contacts</a
            >
          </li>
        </ul>
        <div class="mobile-menu-button">
          <a href="#contacts" class="button mobile-menu-button mobile-link"
            >Order</a
          >
        </div>
      </nav>
    </div>
  </div>
</div>
