<div class="mobile-menu-wrapper is-open" id="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="/" class="link white mobile-menu-nav-link">Home</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#mission" class="link white mobile-menu-nav-link"
              >Mission</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#benefits" class="link white mobile-menu-nav-link"
              >Benefits</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#assorts" class="link white mobile-menu-nav-link"
              >Assortment</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#feedbacks" class="link white mobile-menu-nav-link"
              >Feedbacks</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#faq" class="link white mobile-menu-nav-link">FAQ</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#contacts" class="link white mobile-menu-nav-link"
              >Contacts</a
            >
          </li>
        </ul>
        <div class="mobile-menu-button">
          <a href="#contacts" class="button mobile-menu-button">Order</a>
        </div>
      </nav>
    </div>
  </div>
</div>
